@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-outline {
    -webkit-text-stroke: 1px black;
  }
}

@layer utilities {
  .clip-path-style {
    clip-path: polygon(50% 0%, 100% 0, 100% 66%, 18% 67%, 12% 100%, 0 100%, 0 0);
  }
}


html {
  scroll-behavior: smooth;
}


body {
  background: #FAFAFA;
  color: #181818;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}